. {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  display: flex;
  width: 90%;
  margin: auto;
}
.box1 {
  flex: 1;
  background-color: orange;
}
.box2 {
  flex: 2;
  background-color: peru;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box3 {
  flex: 1;
  background-color: lightcoral;
}
